@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "nprogress/nprogress.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-blue: #006fcc;
  --bg-grey: #f1f4f9;
  --black-text: #262626;
  --bg-white: #ffffff;
}

body {
  color: var(--black-text);
  background: var(--bg-white);
  font-family: "Be Vietnam Pro", Helvetica, sans-serif;
}

.debug {
  border: 1px solid red;
}

/* Remove arrows from number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #3b82f6;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #3b82f6, 0 0 5px #3b82f6;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6); /* Optional overlay */
}

#nprogress .spinner-icon {
  width: 2.5rem;
  height: 2.5rem;
  box-sizing: border-box;
  border: solid 4px transparent;
  border-top-color: #3b82f6;
  border-left-color: #3b82f6;
  border-radius: 50%;
  animation: nprogress-spinner 400ms linear infinite;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}
