@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-blue: #006fcc;
  --bg-grey: #f1f4f9;
  --black-text: #262626;
  --bg-white: #ffffff;
}
body {
  color: var(--black-text);
  background: var(--bg-white);
  font-family: Arial, Helvetica, sans-serif;
}
